/* HEADER */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header-action {
  display: flex;
  justify-content: space-;
  align-items: center;
}
.site-header-nav {
  list-style-type: none;
  display: flex;
}
.site-header-nav-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none   ;
}
.site-header-register {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-weight: 13px;
  line-height: 15px;
  letter-spacing: 0,5px;
  text-decoration: none;
  background-color: #ff7500;
}
/* /HEADER */

/* HERO */
.hero-content {
  background-color: #252420;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.hero-line {
  background-color: #ff7500;
  width: 80px;
  height: 3px;

}
.hero-title {
  width: 390px;
}
.hero-img {
  width: 550px;
  height: 550px;
}
.main-title {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}
.main-subtitle {
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.button {
  color: #fff;
  font-family: 'Roboto';
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  background-color: #ff7500;
}
/* /HERO */

/* FEATURES */
.feature-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.feature-img {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2  );
}
.feature-lists {
  width: 340px;
}
.feature-heading {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;

  color: #000000;
}
.feature-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #000000;
}
.feature-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #000000;
}
/* /FEATURE */

.promo {
  background-color: #252420;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo-content {
  width: 440px;
}
.promo-highlight {
  color: #ff7500;
}
.site-footer-divider {
  background-color: rgba(37, 32, 36, 0.5);
}
.main-footer-nav {
  text-decoration: none;
}

.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer-buttom {
  display: flex;
  justify-content: space-between;
}
.site-footer-social {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer-nav {
    list-style: none;
}
.main-footer-nav-item {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #FF7500;
  text-decoration: none;
}
.main-footer-nav-items {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252420;
  text-decoration: none;
}